.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.0rem;
  }
}

a.direct-link { display: none; }

.container blockquote {
  background: #cccdcd;
  color: #114954;
  border-left: 10px solid #114954;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

a {
  color: rgba(var(--bs-primary-rgb));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link-light {
  color: #D2FA27;
}

:root{
  --bs-primary-rgb: 17, 73, 84;
}

#main-content h2,
#main-content h5 {
  border-bottom: 1px rgba(var(--bs-primary-rgb)) solid;
}
