<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Chủ đề</th>
        <th scope="col">Ngày</th>
    </tr>
    </thead>
    <tbody>
    {% for post in postslist | reverse %}
        <tr>
            <td>
                <a href="{{ post.url | url }}" class="postlist-link">
                    {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
                </a>
            </td>
            <td>
                <time class="postlist-date"
                      datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
