{{ define "main" }}
<section class="home">
  {{ .Content }}
  <h2>Bài mới nhất</h2>
  {{ range first 20 (where .Site.RegularPages.ByDate.Reverse "Params.unpublished" "ne" true) }}
  <article class="summary">
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time>
    {{ with .Params.tags }}
    <span class="tags">
      {{ range . }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}
    </span>
    {{ end }}
  </article>
  {{ end }}
</section>
{{ end }}
