---
permalink: "/"
layout: "layouts/bootstrap.njk"
title: "Phúc Âm đến người Việt Nam"
templateClass: "tmpl-home"
disabledTitle: true
---

<div>&nbsp;</div>

{#{% Playlist id="PLw6g1eaPSXUFnF7dYJqfPHFsBmFY0gcgM" %}#}

{% Youtube id="HTUSiPWoz8o" %}

<div class="container py-5">
  <h1>Các bài giảng trước</h1>

  <p>
    {% set maxPosts = collections.posts.length | min(20) %}
    {% set postslist = collections.posts | head(-20) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
  </p>
</div>
